/* App style */

.appName,
.personLink {
  transition: 0.5s, box-shadow 0.3s ease;
 
  &:hover {
    scale: 1.2;
    box-shadow: 0 0 40px rgb(175, 145, 145);
  }
}

nav .nav-link {
  transition: 0.5s;
  &:hover {
    scale: 1.4;
  }
}

.linkHover {
  transition: 0.1s !important;
  &hover {
    scale: 1.05 !important;
  }
}

.card {
  transform: scale(1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  transition: box-shadow 0.3s ease, transform 0.3s ease; 

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
    transform: scale(1.05); 
  }
}

.card img {
  height: 13rem !important;
}

.someLink {
  color: brown !important;
  text-decoration: none; 
  transition: text-decoration 0.3s ease; 
  &:hover {
    text-decoration: underline; 
  }
}
